* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
}

header {
  background-color: #78b3e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: white;
}

.logo {
  height: 80px;
}

.imagem {
  height: 60px;
}

header nav {
  display: flex;
  gap: 15px;
}

main {
  display: flex;
  padding: 40px;
  gap: 50px;
}

.secao1 {
  /* flex-grow: 1; */
  background-color: #E8BFC9;
  padding: 5%;
  width: 70%;
}

.secao2 {
  /* flex-grow: 1; */
  background-color: #E8BFC9;
  padding: 5%;
  margin: 10px;
}

.fimg{
    height: 50px;
}

footer p{
    margin: 5px;
}

footer {
  background-color: #78b3e7;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  width: 100%;
  bottom: 0;
  position: fixed;
}
